/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px; 
  font-family:"Avenir LT Std Light", Helvetica, sans-serif !important;
  
}

.fondoBody{
	background-image: url("img/fondo/fondo_transparent.jpg") !important; 	 
}
 


a  {
	text-decoration: underline !important;
}

.navLanding{
	border-color: white !important;
	background-color: white !important; 
    position: absolute !important;
}
 
.panelPrincipal{
		/*margin-top: 10% !important;*/
	}


 .fondoPanelInici{
	 background-color: #59C8DB;
	 margin-bottom: 15px !important;
	 border-radius: 22px !important;
}

.BodyPanelLanding
{
	background-color: #f7f7f7;	
	
}

.botoPanel{
	margin-left: 40%; 
}

.logoCaixa
{
	height: 130px !important;
}

.botoIr
{
	width: 100%;  
	border-radius: 15px !important;	
}

.btn-Entrar
{
	letter-spacing: 2px;
}